@model HelloDoc.DAL.ViewModels.PatientReqData;



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family/Friend</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    @*************** toastr cdn ************@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <script src="~/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>



</head>

<body onload="checkMode()" style="background-color:transparent">

    <partial name="_Notification" />
    <div class="d-flex justify-content-between align-items-center">
        <div class="ms-3">
            <img src="~/images/MainLogo.png" alt="" style="height: 7vh;">
        </div>
        <button class="btn btn-outline-info border border-2 border-info fs-5 px-2 py-1 rounded fw-bolder me-2 position-absolute modelogin"
                id="dark-mode-btn">
            <i id="moon" class="bi bi-moon"></i>
            <i id="sun" class="bi bi-sun d-none"></i>
        </button>
    </div>

    <div class="container-fluid">


        <div class="row" style="justify-content: center;">
            <div class=" col-xl-5 col-xl-6 col-lg-5 col-sm-8 col-md-10 col-10 heading position-relative mt-3 mb-5">
                <div class="position-absolute backboxp" style="top:0; right: 1%;">
                    <div>
                        <a asp-action="SubmitRequest" asp-controller="PatientSide" class="alllinks btn" style="border-radius: 10%; height: 35px; border:2px solid #00bce7; background-color: transparent;"> <i class="bi bi-caret-left"></i> Back </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3" style="justify-content: center;">
            <div class="col-xl-5 col-xl-6 col-lg-5 col-sm-8 col-md-10 col-10 sec-row-col">
                <form class="shadow p-5 requestForm" style="display: flex;flex-direction: column;justify-content: space-around;" asp-action="FamilyfriendReq" asp-controller="PatientSide" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="mt-2">
                            <h5>Family/Friend Information</h5>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating">
                                <input type="text" asp-for="OtherFirstName" class="form-control" id="floatingInput1" placeholder="First Name">
                                <label for="floatingInput1">Your First Name</label>
                                <span asp-validation-for="OtherFirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3 ">
                                <input type="text" asp-for="OtherLastName" class="form-control" id="floatingInput2" placeholder="Last Name">
                                <label for="floatingInput2">Your Last Name</label>
                                <span asp-validation-for="OtherLastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">                            
                                <input id="phone" asp-for="OtherPhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber"/>
                                <label for="phone">Phone Number</label>
                                <span asp-validation-for="OtherPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input asp-for="OtherEmail" type="email" class="form-control" id="floatingInput3"
                                       placeholder="nasfdme@example.com">
                                <label for="floatingInput3">Your Email</label>
                                <span asp-validation-for="OtherEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-12 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="OtherRelation" class="form-control" id="floatingInput4" placeholder="Relation">
                                <label for="floatingInput4">Relation With Patient</label>
                                <span asp-validation-for="OtherRelation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="mt-2">
                            <h5>Patient Information</h5>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" asp-for="Notes" placeholder="Leave a comment here" id="floatingTextarea2"
                                          style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Enter Brief Details of Symptoms (Optional)</label>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3 ">
                                <input type="text" asp-for="FirstName" class="form-control" id="floatingInput5" placeholder="First Name">
                                <label for="floatingInput5">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="LastName" class="form-control" id="floatingInput6" placeholder="Last Name">
                                <label for="floatingInput6">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                @{
                                    string max = DateTime.Now.ToString("yyyy-MM-dd");
                                }
                                <input max="@max" type="date" asp-for="BirthDate" value="" class="form-control" id="floatingInput7" placeholder="Last Name">
                                <label for="floatingInput7">Date of Birth</label>
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div>
                            <h5 class="mt-3">Patient Contact Information</h3>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="Email" class="form-control" id="floatingInput8"
                                       placeholder="name@example.com">
                                <label for="floatingInput8">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input id="phone2" asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber" />
                                    <label for="phone2">Phone Number</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div>
                            <h5 class="mt-3">Patient Location</h3>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Street" class="form-control" id="floatingInput9"
                                       placeholder="name@example.com">
                                <label for="floatingInput9">Street</label>
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="City" class="form-control" id="floatingInput10"
                                       placeholder="name@example.com">
                                <label for="floatingInput10">City</label>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="State" class="form-control" id="floatingInput11"
                                       placeholder="name@example.com">
                                <label for="floatingInput11">State</label>
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="ZipCode" class="form-control" id="floatingInput12"
                                       placeholder="name@example.com">
                                <label for="floatingInput12">Zip Code</label>
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xl-6 mt-2">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Address" class="form-control" id="floatingInput13"
                                       placeholder="name@example.com">
                                <label for="floatingInput13">Room # / Suite(Optional)</label>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class=" col-xl-6 form-floating mt-2">
                            <select id="regionId" class="form-select p-0 ps-2 mb-2 regionDropdown" aria-label="Default select example" asp-for="RegionId">
                                <option selected disabled>Select Region</option>
                                @foreach (var obj in Model.Regions)
                                {
                                    <option value="@obj.RegionId">
                                        @obj.Name
                                    </option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="RegionId"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <h5 class="mt-3"> (Optional) Upload Photo or Document</h3>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="col input-group mb-3">
                                <input type="file" asp-for="Upload" class="form-control" id="inputGroupFile07" hidden onchange="updateFileName(this)">
                                <input id="upload-name" asp-for="FileName" class="form-control inputFile" type="text" value="" aria-label="readonly input example" readonly>
                                <label class="input-group-text btn btn-info pt-3 text-dark" for="inputGroupFile07">Upload</label>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 mt-2 mb-3">
                            <div class="d-flex justify-content-end">
                                <button value="Submit" class="me-4"
                                        style="border-radius: 10%; height: 35px;width: 80px; border-color:#00bce7; background-color: #00bce7;">
                                    Submit

                                </button>
                                <button type="reset" class="alllinks" style="border-radius: 10%; height: 35px;width:80px ; border-color:#00bce7; background-color: transparent;">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>




    </div>

    <div class="row">
        <footer class="text-center text-lg-start position-absolute foot"
                style="background-color: rgb(27, 24, 24); right: 0; color: aliceblue;">
            <!-- Copyright -->
            <div class="p-3 text-end">
                Terms of Conditions &nbsp; &nbsp;| &nbsp; &nbsp; Privacy Policy
            </div>
            <!-- Copyright -->
        </footer>
    </div>

    <partial name="_validationscriptspartial" />
    <partial name="_InformationModal" />
    <script src="~/js/dark-theme.js" asp-append-version="true"></script>

    <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById('upload-name').value = fileName;
        }
    </script>
</body>

</html>