@* Chat With *@
<div class="modal fade" id="chatWithModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h2 class="modal-title fs-5" id="exampleModalLabel">Chat With Physician/Patient</h2>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form class="p-3" method="post">
                <div class="text-secondary">
                    This Feature Will be Comming Soon
                </div>                           
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />