@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http


<div class="container-fluid">
    <div>     
        <button class="btn d-inline-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a asp-controller="AdminSide" asp-action="AdminDashboard">
            <img src="~/images/MainLogo.png" alt="logo" height="70px">
        </a>
    </div>
    <div class="d-flex align-items-center gap-4 gap-sm-3">
        <div class="d-none d-lg-block d-flex align-items-center">
            <h5>
                Welcome
                <strong>
                    Admin, @Accessor.HttpContext.Session.GetString("_sessionAdminName")
                </strong>
            </h5>
        </div>

        <a asp-action="Logout" asp-controller="PatientSide" class="btn btn-outline-info border border-2 border-info fw-bold">
            <span class="d-none d-sm-block ">Logout</span>
            <span class="d-block d-sm-none"><i class="bi bi-box-arrow-right fs-5"></i></span>
        </a>

        <button class="btn btn-outline-info border border-2 border-info fs-5 px-2 py-1 rounded fw-bolder me-2"
                id="dark-mode-btn">
            <i id="moon" class="bi bi-moon"></i>
            <i id="sun" class="bi bi-sun d-none"></i>
        </button>
    </div>
</div>